{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-lg-8 col-md-6 mb-md-0 mb-4">
          <div class="card">
            <div class="card-header pb-0">
              <div class="row">
                  <h6>Products</h6>
                  <!--Working with dictionaries to combine Products and Services-->
                    <div class="table-responsive p-0">
                      <table class="table align-items-center mb-0">
                        <thead>
                          <tr>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Product Name</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Quantity</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Price</th>
                            <th class="text-secondary opacity-7"></th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for product in products %}
                          <tr id=uniqueID>
                            <td>
                              <div class="d-flex px-2 py-1">
                                <!--<div>
                                  <img src="{% static 'img/team-2.jpg' %}" class="avatar avatar-sm me-3" alt="user1">
                                </div>-->
                                <div class="d-flex flex-column justify-content-center">
                                  <h6 id="product_name" class="mb-0 text-sm">{{product.product_name}}</h6>
                                 <!-- <p class="text-xs text-secondary mb-0">john@creative-tim.com</p>-->
                                </div>
                              </div>
                            </td>
                            <td>
                              <p class="text-xs font-weight-bold mb-0" contenteditable="true">1</p>
                            </td>
                            <td>
                              <p id="price" class="text-xs font-weight-bold mb-0" contenteditable="true">{{product.product_price}}</p>
                            </td>
                            <td class="align-middle">
                              <a href="#;" class="badge badge-sm bg-gradient-success" data-toggle="tooltip" data-original-title="Add to Cart" onclick="{
                                  let product = document.getElementById('product_name').innerHTML;
                                  let price = document.getElementById('price').innerHTML;
/*                                let cart_product = document.getElementById('cart_product').innerHTML = product.innerHTML;
                                  let cart_price = document.getElementById('cart_price').innerHTML = price.innerHTML; */
                                  do
                                  {
                                    let newRow = document.getElementById('my_cart').insertRow(-1,);
                                    newRow.id=newRow.uniqueID;
                                    let newCell = newRow.insertCell(0);
                                    let product_name = document.createTextNode(product);
                                    newCell.appendChild(product_name);
                                    let newCell1 = newRow.insertCell(1);
                                    let product_qty = document.createTextNode('1');
                                    newCell1.appendChild(product_qty);
                                    let newCell2 = newRow.insertCell(2);
                                    let product_price = document.createTextNode(price);
                                    newCell2.appendChild(product_price);
                                    let newCell3 = newRow.insertCell(3);
                                    let del = document.createTextNode('&#10062;')
                                    newCell3.appendChild(del)
                                    total_price = Number(price) + total_price;
                                    document.getElementById('total').value = total_price;
                                    console.log(product_name.textContent);
                                    console.log(typeof(total_price));
                                  }
                                  while (
                                    product_name.value != product.value
                                  )                        
                                
                                //document.getElementById('cart_product').innerHTML = product.innerHTML
                                //document.getElementById('cart_quantity').innerHTML = '1'
                                //document.getElementById('cart_price').innerHTML = price.innerHTML
                              }">
                                <i class="ni ni-cart text-lg opacity-10" aria-hidden="true"></i>
                              </a>
                            </td>
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                    
              </div>
              
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="card h-100">
            <div class="card-header pb-0 p-3">
              <div class="row-7">
                <div class="card-header pb-0 p-3">
                  <h6 class="mb-0">Customer:<a href="javascript:;" class="badge badge-sm bg-gradient-success" data-toggle="tooltip" data-original-title="Edit Product" onclick="{
                    document.getElementById('change_cust').contentEditable='true';
                  }">Change</a> <h6 class="mb-0" id="change_cust">Walk-In Customer</h6></h6>
                </div>
                <div class="card h-100 min-vh-50 max-height-vh-50 vh-50 container" style="overflow-y: scroll;">
                <table id="my_cart">
                  <tr>
                    <th style="width: 120px;">Item</td>
                    <th>Qty</td>
                    <th>Price</td>
                  </tr>
                  <!-- <tr id="cart_items">
                    <td id="cart_product"></td>
                    not working element
                    <td contenteditable="true" id="cart_quantity" onchange="{
                      let new_qty = document.getElementById('cart_quantity').innerHTML
                      let price = document.getElementById('cart_price').innerHTML
                      let new_price = parseInt(new_qty) * parseInt(price);
                      price = new_price;
                      alert(price);
                    }"></td>
                    <td contenteditable="true" id="cart_price"></td>
                  </tr>            -->       
                </table>
                </div>
                <div class="card pb-0 container">
                  <div class="row">
                  <div class="col-6">
                  <h6 class="mb-0" style="font-size: larger;">Total &#128180;</h6>
                  </div>
                  <div class="col-6">
                    <input type="text" name="" id="total" value="0" style="margin-bottom: 10px;">
                  </div>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="card d-grid gap-2 align-items-center text-sm container">
                
                <div class="row d-flex">
                  <div class="col-6">
                    <div class="col-auto">
                      <b>Cash</b>
                    </div>
                    <div class="col-auto">
                      <input type="number" value="0" class="w-75">
                    </div>
                  </div>

                  <div class="col-6">
                    <div class="col-auto">
                      <b>Mpesa</b>
                    </div>
                    <div class="col-auto">
                      <input type="number" value="0" class="w-75">
                    </div>
                  </div>
                </div>
                <!-- <div class="row d-flex">
                  <div class="col-6">
                    <div class="col-auto">
                      <b>Bank Transfer</b>
                    </div>
                    <div class="col-auto">
                      <input type="number" value="0" class="w-75">
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="col-auto">
                      <button class="btn btn-outline-primary btn-sm mb-0">Credit</button>
                      <b>Credit</b>
                    </div>
                    <div class="col-auto">
                      <input type="number" class="w-75">
                    </div>
                  </div>
                </div> -->  
                <div class="row" style="margin-bottom: 10px;">
                  <button class="btn bg-gradient-dark btn-sm mb-0">Checkout</button>
                </div>              
            </div>
          </div>
      </div>
      </div>
      
      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block scripts %}

  <script src="{% static 'js/plugins/chartjs.min.js' %}"></script>
  <script src="{% static 'js\pos.js' %}"></script>
  <script>
    globalThis.total_price = 0;
  </script>
  <script>
    var ctx = document.getElementById("chart-bars").getContext("2d");

    new Chart(ctx, {
      type: "bar",
      data: {
        labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
        datasets: [{
          label: "Sales",
          tension: 0.4,
          borderWidth: 0,
          borderRadius: 4,
          borderSkipped: false,
          backgroundColor: "#fff",
          data: [450, 200, 100, 220, 500, 100, 400, 230, 500],
          maxBarThickness: 6
        }, ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
            },
            ticks: {
              suggestedMin: 0,
              suggestedMax: 500,
              beginAtZero: true,
              padding: 15,
              font: {
                size: 14,
                family: "Open Sans",
                style: 'normal',
                lineHeight: 2
              },
              color: "#fff"
            },
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false
            },
            ticks: {
              display: false
            },
          },
        },
      },
    });

    var ctx2 = document.getElementById("chart-line").getContext("2d");

    var gradientStroke1 = ctx2.createLinearGradient(0, 230, 0, 50);

    gradientStroke1.addColorStop(1, 'rgba(203,12,159,0.2)');
    gradientStroke1.addColorStop(0.2, 'rgba(72,72,176,0.0)');
    gradientStroke1.addColorStop(0, 'rgba(203,12,159,0)'); //purple colors

    var gradientStroke2 = ctx2.createLinearGradient(0, 230, 0, 50);

    gradientStroke2.addColorStop(1, 'rgba(20,23,39,0.2)');
    gradientStroke2.addColorStop(0.2, 'rgba(72,72,176,0.0)');
    gradientStroke2.addColorStop(0, 'rgba(20,23,39,0)'); //purple colors

    new Chart(ctx2, {
      type: "line",
      data: {
        labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
        datasets: [{
            label: "Mobile apps",
            tension: 0.4,
            borderWidth: 0,
            pointRadius: 0,
            borderColor: "#cb0c9f",
            borderWidth: 3,
            backgroundColor: gradientStroke1,
            fill: true,
            data: [50, 40, 300, 220, 500, 250, 400, 230, 500],
            maxBarThickness: 6

          },
          {
            label: "Websites",
            tension: 0.4,
            borderWidth: 0,
            pointRadius: 0,
            borderColor: "#575f9a",
            borderWidth: 3,
            backgroundColor: gradientStroke2,
            fill: true,
            data: [30, 90, 40, 140, 290, 290, 340, 230, 400],
            maxBarThickness: 6
          },
        ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              padding: 10,
              color: '#b2b9bf',
              font: {
                size: 11,
                family: "Open Sans",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              color: '#b2b9bf',
              padding: 20,
              font: {
                size: 11,
                family: "Open Sans",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
        },
      },
    });
  </script>

{% endblock scripts %}
